In [3]:
f=1
n=5
while(n>0):
 f=f*n
 n=n-1
print(f)

120

In [8]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i,end= "")
    print()

1
22
333
4444
55555

In [13]:
n = 12345
n_string = str(n)
s=0
for item in n_string:
    s= s+int(item)
print(s)

15

In [18]:
def average(n1,n2,n3,n4):
    s = n1+n2+n3+n4
    return s/4
average(2,2,2,2)

2.0

In [20]:
#sum of n natural numbers 
def addtion(n):
    s =0
    for i in range(1,n+1):
        s=s+i
    return s
print(addtion(10))

55

In [1]:
#wap to return sum , diff prod and quotient using a single function
def calculate(a,b):
    s=a+b
    d=a-b
    p=a*b
    q=a/b
    return s,d,p,q
# print(calculate(10,5))
# print(type(calculate(10,5)))
s,_,_,_ = calculate(10,5)
print(s)

15

In [2]:
#Args
# kati ota argumnet functiion le linxa bhanne kura thaxaina bhane args use garney 
def average (*args):
    s = 0 
    for i in args:
        s=s+i
    print(type(args))
    return s/len(args)
print(average(1,2,3,4,5))

<class 'tuple'>
3.0

In [ ]:
#**args  // kwargs returns dicitionary where args return tuple   kwargs = keywords wala arguments 
def func(**kwargs):
    print(kwargs)
func(a=10,b=20)

{'a': 10, 'b': 20}

In [33]:
def func(**kwargs):
    for item in kwargs.items():
        print(item)
        
func(a=10,b=20)

('a', 10)
('b', 20)

In [35]:
def func(*args,**kwargs):
    print(args),
    print(kwargs)
    
func(1,2,a=10,b=10)

(1, 2)
{'a': 10, 'b': 10}

In [2]:
#oop

class Animal:
    
    def __init__(self,name,age):
        self.name = name
        self.age= age
    
    def speak(self):
        print(f"{self.name} is speaking")
        
    def __str__(self):
        return f'ANimal {self.name} is {self.age} years old' #print garda yo invoke hunxa 
    
    def __repr__(self):
        return f'Animal : {self.name} | Age: {self.age}' #direct object matra lekhda yo invoke hunxa 
        
a1 = Animal("Lucky",12)
print(a1)

ANimal Lucky is 12 years old

In [ ]:
class Point: 
    def __init__(self,x,y):
        self.x = x
        self.y =y  
    
    def __str__(self):
        return f'({self.x},{self.y})'
    
    def __add__(self,other):
        # return (self.x + other.x , self.y+other.y)
        new_x =self.x+other.x
        new_y=self.y+other.y
        return Point(new_x,new_y)
p1=Point(1,2)
p2=Point(3,4)
p3=p1+p2 #p1.__add__(p2) under the hood 
print(p3)

(4,6)

In [9]:
#wap to creat a class named distance that has feet and inches as data members . Overload any 2 operatros 
class Distance:
    def __init__(self,feet,inch):
        self.feet = feet
        self.inch = inch 
        
    def __add__(self,other):
        new_feet = self.feet+other.feet
        new_inch = self.inch+other.inch
        
        if new_inch>=12:
            new_feet=new_feet+int(new_inch/12)
            new_inch=new_inch%12
        return (new_feet,new_inch)
d1=Distance(1,12)
d2=Distance(2,13)
d3=d1+d2
print(d3)

(5, 1)