In [3]:
with open("file.txt","r") as f:
    content = f.read()
    print(type(content.split()))    
    l=content.split()
    print(l)
    print(len(l))

<class 'list'>
['hello', 'world', 'this', 'is', 'Sandesh']
5

In [2]:
aDict={}
with open("hello.txt",'r') as f:
    content=f.read().lower()
    words=content.split()
    for word in words:
        if word not in aDict:
            aDict[word]=1
        else:
            aDict[word]+=1
aDict

{'hello': 2, 'world': 1, 'hi': 2, 'worlrd': 1, 'sandesh': 1}

In [3]:
with open("hello.txt",'r') as f:
    lines= f.readlines()
    for line in lines:
        print(line,end="")

hello world
hello
hi worlrd
hi sandesh

In [9]:
with open("new.txt",'w') as f:
    while(True):
        input_text=input("enter some text. press q or Q to quit")
        if input_text=='Q' | input_text=='q':
            break
        f.writelines(input_text)
        f.write("\n")

TypeError: 'str' object is not callable

# reading csv file using csv module

In [4]:
import csv
with open("file.csv",'r') as f:
    content=csv.reader(f)
    for rows in content:
        print(rows)

['Name', 'Address', 'Age']
['John', 'Biratnagar', '22']
['Jane', 'Itahari', '12']
['Jack', 'Dharan', '34']

In [16]:
with open("file.csv",'r') as f:
    content=csv.DictReader(f)
    for row in content:
        print(row['Name'],row['Address'],row['Age'])

John Biratnagar 22
Jane Itahari 12
Jack Dharan 34

In [4]:
import csv 
data=[['Name','Address','Age'],
['John','Biratnagar',22],
['Hari','Itahari',32],
['SUman','Pokhara',23]
]
with open("new.csv",'w',newline="") as f:
    writer=csv.writer(f)
    writer.writerows(data)

In [5]:
import csv
data=[
    {'Name':'John','Address':'Biratnagar','Age':12},
    {'Name':'Suman','Address':'Pokhara','Age':13},
    {'Name':'Hari','Address':'Itahari','Age':52},
]
with open("new1.csv",'w',newline="") as f:
    writer=csv.DictWriter(f,fieldnames=['Name','Address','Age'])
    writer.writeheader()
    writer.writerows(data)

In [6]:
data=[{'Name':'John','Address':'Biratnagar','Age':12},
   {'Name':'Suman','Address':'Pokhara','Age':13},
    {'Name':'Hari','Address':'Itahari','Age':52}]
with open("new2.csv",'w',newline="") as f:
    writer=csv.writer(f)
    writer.writerows(data)

In [31]:
import pandas as pd 
df=pd.read_csv("new.csv")
df.head()

    Name     Address  Age
0   John  Biratnagar   22
1   Hari     Itahari   32
2  SUman     Pokhara   23

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     3 non-null      object
 1   Address  3 non-null      object
 2   Age      3 non-null      int64
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

In [33]:
df.isnull().sum()

Name       0
Address    0
Age        0
dtype: int64

In [34]:
df['Name']

0     John
1     Hari
2    SUman
Name: Name, dtype: object

In [35]:
df['Province']="koshi"

In [36]:
df.head()

    Name     Address  Age Province
0   John  Biratnagar   22    koshi
1   Hari     Itahari   32    koshi
2  SUman     Pokhara   23    koshi

In [37]:
df.to_csv("newnew.csv",index='False')

In [8]:
import pandas as pd 
dataframe=pd.DataFrame([
    {"Name":"Ram","Eng":23,"Math":34,"Science":98},
    {"Name":"Shyam","Eng":20,"Math":34,"Science":98},
])
dataframe.head()
dataframe["Total"] = dataframe[["Eng", "Math", "Science"]].sum(axis=1)
dataframe.head()

    Name  Eng  Math  Science  Total
0    Ram   23    34       98    155
1  Shyam   20    34       98    152