In [3]:
import requests 
url = "https://jsonplaceholder.typicode.com/posts"
payload ={"title":"Test","body":"Hello api","userId":1}
response = requests.post(url,json=payload)
print(response.json())

{'title': 'Test', 'body': 'Hello api', 'userId': 1, 'id': 101}

# SOAP APIS 
SOAP= Simple Object Access Protocal  \n
Uses Xml for requests and responses 
It does not requires url 
Requires a WSDL ( Web Services Description Language) URL 
WSDL is the language that acts as a middleware between two languages for ex: python and js

In [ ]:
#conda install zeep library 
#wsdl is used for interconnection between banks 
from zeep import Client 
wsdl ="http://www.dnenline.com/calculator.asmx?WSDL"
client = Client(wsdl=wsdl)

# call a soap method 

result = client.service.Add(10,20)
print(result)

In [ ]:
#open weather map api = "1e679f6aa64bfb3ba0eabd0dff937661"

In [8]:
import requests 
from pprint import pprint
api_key="1e679f6aa64bfb3ba0eabd0dff937661"
city="Dharan"
url=f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={api_key}&units=metric"

response = requests.get(url)
if response.status_code == 200:
    data = response.json()
    pprint(data)
else:
    print("Error")

{'base': 'stations',
 'clouds': {'all': 0},
 'cod': 200,
 'coord': {'lat': 26.8125, 'lon': 87.2835},
 'dt': 1767248695,
 'id': 1283460,
 'main': {'feels_like': 18.84,
          'grnd_level': 967,
          'humidity': 54,
          'pressure': 1015,
          'sea_level': 1015,
          'temp': 19.43,
          'temp_max': 19.43,
          'temp_min': 19.43},
 'name': 'Dharān',
 'sys': {'country': 'NP', 'sunrise': 1767229174, 'sunset': 1767266915},
 'timezone': 20700,
 'visibility': 10000,
 'weather': [{'description': 'clear sky',
              'icon': '01d',
              'id': 800,
              'main': 'Clear'}],
 'wind': {'deg': 199, 'gust': 1.81, 'speed': 2.31}}

In [20]:
#handling above data to dataframe 
import pandas as pd 
from pandas import json_normalize
df=json_normalize(data)
df_weather = df[[
    'name',
    'main.temp',
    'main.humidity',
    'main.feels_like',
    'wind.speed',
    'weather'
]].copy()

In [19]:
df_weather.head()

     name  main.temp  main.humidity  main.feels_like  wind.speed
0  Dharān      19.43             54            18.84        2.31

In [21]:
df_weather["Description"]=df_weather["weather"].apply(lambda x:x[0]['description'])

In [22]:
df_weather.head()

     name  ...  Description
0  Dharān  ...    clear sky

[1 rows x 7 columns]

In [23]:
df_weather = df_weather.drop(columns=["weather"])
df_weather

     name  main.temp  main.humidity  main.feels_like  wind.speed Description
0  Dharān      19.43             54            18.84        2.31   clear sky

In [24]:
df.shape

(1, 25)

In [ ]:
#take out data of 5 cities and make a dataframe 

weather_data =[]
city=["Jhumka","Biratnagar","Dharan","Pokhara","Kathmandu"]
for city in city:
    
    url=f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={api_key}&units=metric"

    response = requests.get(url)
    if response.status_code == 200:
        data = response.json()
        pprint(data)
        weather_data.append(data)
    
    else:
        print(response.status_code)

{'base': 'stations',
 'clouds': {'all': 0},
 'cod': 200,
 'coord': {'lat': 26.6717, 'lon': 87.205},
 'dt': 1767249971,
 'id': 1283582,
 'main': {'feels_like': 21.21,
          'grnd_level': 1005,
          'humidity': 47,
          'pressure': 1014,
          'sea_level': 1014,
          'temp': 21.75,
          'temp_max': 21.75,
          'temp_min': 21.75},
 'name': 'Jhumka',
 'sys': {'country': 'NP', 'sunrise': 1767229175, 'sunset': 1767266952},
 'timezone': 20700,
 'visibility': 10000,
 'weather': [{'description': 'clear sky',
              'icon': '01d',
              'id': 800,
              'main': 'Clear'}],
 'wind': {'deg': 192, 'gust': 1.44, 'speed': 1.42}}
{'base': 'stations',
 'clouds': {'all': 0},
 'cod': 200,
 'coord': {'lat': 26.4831, 'lon': 87.2834},
 'dt': 1767249626,
 'id': 1283582,
 'main': {'feels_like': 21.45,
          'grnd_level': 1005,
          'humidity': 44,
          'pressure': 1014,
          'sea_level': 1014,
          'temp': 22.04,
          'temp_max': 22.04,
          'temp_min': 22.04},
 'name': 'Biratnagar',
 'sys': {'country': 'NP', 'sunrise': 1767229132, 'sunset': 1767266958},
 'timezone': 20700,
 'visibility': 10000,
 'weather': [{'description': 'clear sky',
              'icon': '01d',
              'id': 800,
              'main': 'Clear'}],
 'wind': {'deg': 197, 'gust': 1.19, 'speed': 1.29}}
{'base': 'stations',
 'clouds': {'all': 0},
 'cod': 200,
 'coord': {'lat': 26.8125, 'lon': 87.2835},
 'dt': 1767249888,
 'id': 1283460,
 'main': {'feels_like': 19.37,
          'grnd_level': 966,
          'humidity': 52,
          'pressure': 1014,
          'sea_level': 1014,
          'temp': 19.96,
          'temp_max': 19.96,
          'temp_min': 19.96},
 'name': 'Dharān',
 'sys': {'country': 'NP', 'sunrise': 1767229174, 'sunset': 1767266915},
 'timezone': 20700,
 'visibility': 10000,
 'weather': [{'description': 'clear sky',
              'icon': '01d',
              'id': 800,
              'main': 'Clear'}],
 'wind': {'deg': 202, 'gust': 2.03, 'speed': 2.4}}
{'base': 'stations',
 'clouds': {'all': 22},
 'cod': 200,
 'coord': {'lat': 28.2333, 'lon': 83.9833},
 'dt': 1767249565,
 'id': 1282898,
 'main': {'feels_like': 17.29,
          'grnd_level': 871,
          'humidity': 47,
          'pressure': 1013,
          'sea_level': 1013,
          'temp': 18.19,
          'temp_max': 18.19,
          'temp_min': 18.19},
 'name': 'Pokhara',
 'sys': {'country': 'NP', 'sunrise': 1767230151, 'sunset': 1767267523},
 'timezone': 20700,
 'visibility': 10000,
 'weather': [{'description': 'few clouds',
              'icon': '02d',
              'id': 801,
              'main': 'Clouds'}],
 'wind': {'deg': 161, 'gust': 1.89, 'speed': 2.94}}
{'base': 'stations',
 'clouds': {'all': 20},
 'cod': 200,
 'coord': {'lat': 27.7167, 'lon': 85.3167},
 'dt': 1767249880,
 'id': 1283240,
 'main': {'feels_like': 16.14,
          'grnd_level': 850,
          'humidity': 48,
          'pressure': 1012,
          'sea_level': 1012,
          'temp': 17.12,
          'temp_max': 17.12,
          'temp_min': 17.12},
 'name': 'Kathmandu',
 'sys': {'country': 'NP',
         'id': 9201,
         'sunrise': 1767229763,
         'sunset': 1767267271,
         'type': 1},
 'timezone': 20700,
 'visibility': 5000,
 'weather': [{'description': 'haze', 'icon': '50d', 'id': 721, 'main': 'Haze'}],
 'wind': {'deg': 0, 'speed': 1.03}}

In [34]:
df_weather

        name  ...                                            weather
0  Kathmandu  ...  [{'id': 721, 'main': 'Haze', 'description': 'h...

[1 rows x 6 columns]

In [31]:
df=json_normalize(data)
df_weather = df[[
    'name',
    'main.temp',
    'main.humidity',
    'main.feels_like',
    'wind.speed',
    'weather'
]].copy()

In [32]:
df_weather

        name  ...                                            weather
0  Kathmandu  ...  [{'id': 721, 'main': 'Haze', 'description': 'h...

[1 rows x 6 columns]