# Learning json

In [1]:
import json

with open("data.json","r") as f:
    content=json.load(f)

print(content)

{'name': 'Ram', 'age': 30, 'skills': ['ML', 'Python', 'html', 'css']}

In [2]:
content ={
    "name":"suyog",
    "age":14,
    "skills":["html","cuybersecurity"]
}
with open("data1.json","w") as f:
    json.dump(content,f,indent=4)

In [3]:
import pandas as pd
df = pd.read_json("data.json")
print(df)

  name  age  skills
0  Ram   30      ML
1  Ram   30  Python
2  Ram   30    html
3  Ram   30     css

# Accessing DataBase in Python

using sqlite

In [4]:
import sqlite3

# connect or create a database 

conn=sqlite3.connect("exampleX.db")
cursor=conn.cursor()

In [5]:
#Create a table 
cursor.execute("""
        CREATE TABLE IF NOT EXISTS students(
            id INTERGER PRIMARY KEY,
            name TEXT,
            age INTEGER,
            address TEXT
        )
               """)

In [6]:
# Insert data 
cursor.execute("INSERT INTO students(name,age,address) VALUES(?,?,?)",
("sujal",5,"itahar"))
conn.commit()

In [7]:
# select all query 

cursor.execute('SELECT * FROM students WHERE address LIKE "itahar" ')
rows=cursor.fetchall()
print(rows)

[(None, 'sujal', 5, 'itahar'), (None, 'sujal', 5, 'itahar'), (None, 'sujal', 5, 'itahar'), (None, 'sujal', 5, 'itahar'), (None, 'sujal', 5, 'itahar'), (None, 'sujal', 5, 'itahar'), (None, 'sujal', 5, 'itahar'), (None, 'sujal', 5, 'itahar')]

In [8]:
conn.close()

In [9]:
from sqlalchemy import create_engine

engine = create_engine("sqlite:///mydb.db",echo=True)

In [ ]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column,Integer,String

Base= declarative_base()

class Student(Base):
    __tablename__ = 'students'
    id=Column(Integer,primary_key=True)
    name=Column(String)
    age=Column(Integer)
    
#Create the table 
Base.metadata.create_all(engine)

2025-12-29 13:36:24,787 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-29 13:36:24,791 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("students")
2025-12-29 13:36:24,794 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-29 13:36:24,809 INFO sqlalchemy.engine.Engine COMMIT

C:\Users\Sandesh Guragain\AppData\Local\Temp\ipykernel_8660\2443606640.py:4: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base= declarative_base()

In [11]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()

In [12]:
#Adding data 

student1=Student(name='Ram',age=25)
student2=Student(name='Suman',age=34)
session.add(student1)
session.add(student2)
session.commit()

2025-12-29 13:36:24,970 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-29 13:36:24,994 INFO sqlalchemy.engine.Engine INSERT INTO students (name, age) VALUES (?, ?) RETURNING id
2025-12-29 13:36:25,001 INFO sqlalchemy.engine.Engine [generated in 0.00074s (insertmanyvalues) 1/2 (ordered; batch not supported)] ('Ram', 25)
2025-12-29 13:36:25,023 INFO sqlalchemy.engine.Engine INSERT INTO students (name, age) VALUES (?, ?) RETURNING id
2025-12-29 13:36:25,028 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/2 (ordered; batch not supported)] ('Suman', 34)
2025-12-29 13:36:25,043 INFO sqlalchemy.engine.Engine COMMIT

In [2]:
# #Get all students 
# students= session.query(Student).all()
# for s in students:
    #     print(s.name,s.age)