In [1]:
from sqlalchemy import create_engine
engine=create_engine("sqlite:///books_db.db",echo=True)

In [2]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column,Integer,String

Base =declarative_base()

class Book(Base):
    
    __tablename__ = "books"
    id=Column(Integer,primary_key=True)
    title=Column(String,nullable=False)
    author=Column(String,nullable=False)
    year=Column(String,nullable=False)
    
#create the tabel
Base.metadata.create_all(engine)

2025-12-31 09:15:18,699 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-31 09:15:18,701 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("books")
2025-12-31 09:15:18,702 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-31 09:15:18,704 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("books")
2025-12-31 09:15:18,705 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-31 09:15:18,707 INFO sqlalchemy.engine.Engine
CREATE TABLE books (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	author VARCHAR NOT NULL,
	year VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2025-12-31 09:15:18,709 INFO sqlalchemy.engine.Engine [no key 0.00165s] ()
2025-12-31 09:15:18,716 INFO sqlalchemy.engine.Engine COMMIT

C:\Users\Sandesh Guragain\AppData\Local\Temp\ipykernel_16240\1734895478.py:4: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base =declarative_base()

In [3]:
from sqlalchemy.orm import sessionmaker
Session=sessionmaker(bind=engine)
session=Session()

In [4]:
#adding data
book_data1=Book(title="time travel",author="hg wells",year="1929")
book_data2=Book(title="the metamorphosis",author="franz kafka",year="1994")
book_data3=Book(title="the invincibleman",author="william shakespeare",year="1959")
session.add(book_data1)
session.add(book_data2)
session.add(book_data3)

In [5]:
session.commit()

2025-12-31 09:15:18,761 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-31 09:15:18,765 INFO sqlalchemy.engine.Engine INSERT INTO books (title, author, year) VALUES (?, ?, ?) RETURNING id
2025-12-31 09:15:18,766 INFO sqlalchemy.engine.Engine [generated in 0.00020s (insertmanyvalues) 1/3 (ordered; batch not supported)] ('time travel', 'hg wells', '1929')
2025-12-31 09:15:18,769 INFO sqlalchemy.engine.Engine INSERT INTO books (title, author, year) VALUES (?, ?, ?) RETURNING id
2025-12-31 09:15:18,770 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/3 (ordered; batch not supported)] ('the metamorphosis', 'franz kafka', '1994')
2025-12-31 09:15:18,773 INFO sqlalchemy.engine.Engine INSERT INTO books (title, author, year) VALUES (?, ?, ?) RETURNING id
2025-12-31 09:15:18,774 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/3 (ordered; batch not supported)] ('the invincibleman', 'william shakespeare', '1959')
2025-12-31 09:15:18,775 INFO sqlalchemy.engine.Engine COMMIT

In [6]:
#query by author name 
books_by_author=session.query(Book).filter(Book.author=="hg wells").all()
for book in books_by_author:
    print(book.title,book.year)

2025-12-31 09:15:18,795 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-31 09:15:18,797 INFO sqlalchemy.engine.Engine SELECT books.id AS books_id, books.title AS books_title, books.author AS books_author, books.year AS books_year
FROM books
WHERE books.author = ?
2025-12-31 09:15:18,799 INFO sqlalchemy.engine.Engine [generated in 0.00156s] ('hg wells',)
time travel 1929

In [7]:
#book to update 
session.query(Book).filter(Book.author =="hg wells").update({"year":"2000"})
session.commit()
updated_list=session.query(Book).all()
for book in updated_list:
    print(book.title,book.year)

2025-12-31 09:15:18,833 INFO sqlalchemy.engine.Engine UPDATE books SET year=? WHERE books.author = ?
2025-12-31 09:15:18,836 INFO sqlalchemy.engine.Engine [generated in 0.00392s] ('2000', 'hg wells')
2025-12-31 09:15:18,842 INFO sqlalchemy.engine.Engine COMMIT
2025-12-31 09:15:18,850 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-31 09:15:18,852 INFO sqlalchemy.engine.Engine SELECT books.id AS books_id, books.title AS books_title, books.author AS books_author, books.year AS books_year
FROM books
2025-12-31 09:15:18,855 INFO sqlalchemy.engine.Engine [generated in 0.00223s] ()
time travel 2000
the metamorphosis 1994
the invincibleman 1959

In [8]:
#delete a book 
session.query(Book).filter(Book.year == "1959").delete()
session.commit()

remaining_books=session.query(Book).all()
for  book in remaining_books:
    print(book.title,book.author,book.year)

2025-12-31 09:15:18,896 INFO sqlalchemy.engine.Engine DELETE FROM books WHERE books.year = ?
2025-12-31 09:15:18,897 INFO sqlalchemy.engine.Engine [generated in 0.00175s] ('1959',)
2025-12-31 09:15:18,902 INFO sqlalchemy.engine.Engine COMMIT
2025-12-31 09:15:18,907 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-31 09:15:18,909 INFO sqlalchemy.engine.Engine SELECT books.id AS books_id, books.title AS books_title, books.author AS books_author, books.year AS books_year
FROM books
2025-12-31 09:15:18,911 INFO sqlalchemy.engine.Engine [cached since 0.05866s ago] ()
time travel hg wells 2000
the metamorphosis franz kafka 1994