In [1]:
import numpy as np 
import pandas as pd 
x = np.array([10,20,30,400])
df = pd.DataFrame({'X':x})
print("Kurtosis of X column",df['X'].kurt())

Kurtosis of X column 3.9631931024230695

In [2]:
df

     X
0   10
1   20
2   30
3  400

In [5]:
X = np.random.random(20000)
df = pd.DataFrame({'X':X})
print("Kurtosis of X column",df['X'].kurt())

Kurtosis of X column -1.2053311515570657

# chis square testing

In [ ]:
import numpy as np
from scipy.stats import chisquare 
observed = [ ]
from scipy.stats import chi2_contigency
chi2,p,dof,exp = chi2_contigency(observed,correction= False)
print(f"Chi - square :{chi2:.4f}")
print(f"p-value: {p:.6f}")
print(f"Degrees of freedo : {dof}")
print(f"Expected values : {exp}")