In [23]:
connection_string="mongodb+srv://sandeshguragain516_db_user:sandeshahaha@cluster0.jgd2dmj.mongodb.net/?appName=Cluster0"
#import pymongo

In [24]:
from pymongo import MongoClient

client = MongoClient(connection_string)
db=client["school"] # This is database
collection=db["students"] #This is a collection which resembles a table

In [25]:
#Insert a single document 
student={"name":"Alice","age":25,"subjects":["Math","Science"]}
collection.insert_one(student)

InsertOneResult(ObjectId('6954b62e57d7a7e5eea49635'), acknowledged=True)

In [26]:
print(client.list_database_names)

<bound method MongoClient.list_database_names of MongoClient(host=['ac-rasbtbp-shard-00-00.jgd2dmj.mongodb.net:27017', 'ac-rasbtbp-shard-00-02.jgd2dmj.mongodb.net:27017', 'ac-rasbtbp-shard-00-01.jgd2dmj.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, appname='Cluster0', authsource='admin', replicaset='atlas-4l4kbe-shard-0', tls=True)>

In [27]:
many_students=[{
    "name":"suman",
    "age":19,
    "subjects":["html","css"]
},
{
    "name":"sandesh",
    "age":54,
    "subjects":["data science","machine learning"]
}]
collection.insert_many(many_students)

InsertManyResult([ObjectId('6954b63157d7a7e5eea49636'), ObjectId('6954b63157d7a7e5eea49637')], acknowledged=True)

In [28]:
# Query to display all students 
for data in collection.find():
    print(data)

{'_id': ObjectId('6954b62e57d7a7e5eea49635'), 'name': 'Alice', 'age': 25, 'subjects': ['Math', 'Science']}
{'_id': ObjectId('6954b63157d7a7e5eea49636'), 'name': 'suman', 'age': 19, 'subjects': ['html', 'css']}
{'_id': ObjectId('6954b63157d7a7e5eea49637'), 'name': 'sandesh', 'age': 54, 'subjects': ['data science', 'machine learning']}

In [29]:
for data in collection.find({"age" : {"$gt":25}}):
    print(data)

{'_id': ObjectId('6954b63157d7a7e5eea49637'), 'name': 'sandesh', 'age': 54, 'subjects': ['data science', 'machine learning']}

In [30]:
# # to drop databse 
# print(db.list_collection_names())
# collection.drop()
# print(db.list_collection_names())

In [31]:
# print(client.list_database_names())
# client.drop_database("school")
# print(client.list_database_names())